body{
    background-color: darkgrey;
}

a:link{
    color: lightgrey;
}

a:visited{
    color: cornsilk;
}

#banner{
    height: 200px;
    background-color: aliceblue;
    text-align: left;
    font-size: 180px;
    color: aqua;
}

#menu{
    font-size: 20px;
    text-align: right;
}

#menu.menuButton{
    background-color: aquamarine;
    text-align: center;
    color: aqua;
}